body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #252b48;
  color: #0b666a;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.input {
  border: #0b666a 1px solid;
  height: 300px;
  width: 300px;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-text {
  font-size: 14px;
  padding: 10px 10px; /* Adjust padding values to your preference */
  text-align: left; /* Align text to the left */
  padding-bottom: 73%;
  white-space: normal;
  font-family: "Montserrat Alternates", sans-serif;
  color: #0b666a;
  width: 100%;
}

.input-choice {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

select {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #252b48;
  color: inherit;
  cursor: pointer;
  width: 100%;
}

.input select:focus {
  outline: none;
  position: relative;
  z-index: 1; /* Ensure the select box appears above the textarea */
}
