body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  color: #0b666a;
  display: flex;
  justify-content: center;
  background-image: url("robot.png");
  background-color: #252b48;
  background-blend-mode: overlay;
  background-size: 25rem;
  background-repeat: repeat-y;
  background-position: right;
}

.container {
  display: flex;
}

.input {
  border: #0b666a 1px solid;
  height: 300px;
  width: 350px;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-text {
  font-size: 16px;
  text-align: left;
  white-space: normal;
  font-family: "Montserrat Alternates", sans-serif;
  color: #0b666a;
  width: 95%;
  border: none;
  outline: none;
  resize: none;
  padding: 10px 10px 201px 10px;
  overflow-y: scroll;
}

.input-text::-webkit-scrollbar {
  display: none;
}

.input-text:focus {
  border: none;
  outline: none;
}

.input-choice {
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #252b48;
}

select {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #252b48;
  color: inherit;
  cursor: pointer;
  width: 100%;
}

select option {
  font-size: 1.2em;
}

select:focus {
  outline: none;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .input {
    width: 95%;
    margin-bottom: 20px;
  }
  .input-text {
    width: 95%;
  }

  .input-choice {
    flex-direction: column;
    background-color: transparent;
  }

  select {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 312px) {
  .input-text {
    width: 75%;
  }
}
